.main{
  height: 100vh;;
  flex: 1;
  background-color: cornflowerblue;
  margin: 0;
  font-size: 1rem;
  font-family: "Andale Mono";
}
.center{
  display: flex;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.form{
  background-color: darkgray;
  padding: 1rem;
  border-radius: 5px;
}
input{
  font-size: 1rem;
  font-family: "Andale Mono";
  border-radius: 5px;
}
button{
  background-color: coral;
  border: 0;
  border-radius: 5px;
  margin-top: .2rem;
  font-size: 1rem;
  font-family: "Andale Mono";
}
